{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h4 class="mb-3 fw-bold text-primary">Добавить нового сотрудника ресепшена</h4>
  <form method="post" class="card p-3 shadow-sm">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-md-6">{{ form.first_name.label_tag }} {{ form.first_name }}</div>
      <div class="col-md-6">{{ form.last_name.label_tag }} {{ form.last_name }}</div>
      <div class="col-md-6">{{ form.username.label_tag }} {{ form.username }}</div>
      <div class="col-md-6">{{ form.password.label_tag }} {{ form.password }}</div>
      <div class="col-md-6">{{ form.phone.label_tag }} {{ form.phone }}</div>
      <div class="col-md-6">{{ form.address.label_tag }} {{ form.address }}</div>
    </div>
    <div class="mt-4">
      <button type="submit" class="btn btn-primary">Сохранить</button>
      <a href="{% url 'reception_list' %}" class="btn btn-secondary">Отмена</a>
    </div>
  </form>
</div>
{% endblock %}
